<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход || Регистрация</title>
    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="login-form" class="authorization">
    <h1>Вход</h1>
    <fieldset>
        <form action="/sign-in" method="post">
            <input name="username" type="text" required value="Логин" onBlur="if(this.value=='')this.value='Логин'" onFocus="if(this.value=='Логин')this.value='' ">
            <input name="password" type="password" required value="Пароль" onBlur="if(this.value=='')this.value='Пароль'" onFocus="if(this.value=='Пароль')this.value='' ">
            <input type="submit" value="ВОЙТИ">
        </form>
    </fieldset>
    <hr style="background-color : #bebebe;"/>
    <h5><a href="">Забыли пароль?</a><a id="newUser" href="">Зарегистрироваться</a></h5>
</div>
<div id="registration" class="authorization">
    <h1>Регистрация</h1>
    <fieldset>
        <form action="/sign-up" method="post">
            <input name="name" id="iName" type="text" required value="Имя" onBlur="if(this.value=='')this.value='Имя'" onFocus="if(this.value=='Имя')this.value='' ">
            <input name="surname" type="text" required value="Фамилия" onBlur="if(this.value=='')this.value='Фамилия'" onFocus="if(this.value=='Фамилия')this.value='' ">
            <input name="age" type="text" required value="Возраст" onBlur="if(this.value=='')this.value='Возраст'" onFocus="if(this.value=='Возраст')this.value='' ">
            <input name="email" type="email" required value="Логин" onBlur="if(this.value=='')this.value='Логин'" onFocus="if(this.value=='Логин')this.value='' ">
            <input name="password" type="password" required value="Пароль" onBlur="if(this.value=='')this.value='Пароль'" onFocus="if(this.value=='Пароль')this.value='' ">
            <input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ">
        </form>
    </fieldset>
    <hr style="background-color : #bebebe;"/>

    <h5><span>Уже зарегистрированы? </span><a id="alreadyHaveAccount" href="">Войти</a></h5>
</div>
<script src="lcs.js"></script>
</body>
</html>